body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.loading-spinner {
    z-index: 3;
    position: fixed;
    left: 50vw;
    top: 50vh;
}

.loading-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #ffffff;
    z-index: 2;
}

h1 {
    text-align: center;
}

h2 {
    min-height: 3em;
}

#calendar .row {
    display: flex;
}

#calendar .row section {
    flex: 1;
    border: 1px solid black;
}

li {
    list-style-type: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
}

button {
    padding: 2em;
    margin: 2em;
}

ul {
    padding: 0;
}

.p1 {
    background-color: tomato;
}

.p2 {
    background-color: orange;
}

.p3 {
    background-color: lightblue;
}